* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: rgb(51, 51, 51);
}

a {
    color: white;
    font-size: 2vw;
}

h2 {
    font-size: 2vw;
    color: white;
}


@font-face {
font-family: "Matreshka"; 

src: url("/fonts/Matreshka.ttf")
}

.header_container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 2%;
}

.header_logo {
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 15px 15px 20px;
}

.header_logo_text {
    font-size: 4vw;
    color: white;
    font-family: "Matreshka";
    letter-spacing: 15px;
}

/* Content */
.content_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.content {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 95%;
  min-height: 1000px;
  border: 2px solid white;
  border-radius: 5px;
  box-shadow: 15px 15px 20px;
}

.text_content {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 95%;
  color: white;
}

.cards_container {
    display: grid;
    width: 95%;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 15px 15px 20px;
    min-height: 1000px;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    max-width: 600px;
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 15px 15px 20px;
    margin: 15%;
    justify-content: center;
    text-align: center;
}

.card_header {
    color: white;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 2px solid white;
}

.card_content {
    display:grid;
    grid-template-columns: repeat(1, 1fr);
}
.card_content_img {
	display: flex;
	justify-content: center;
}

/* git commands */

.gitcommands_container_text {
  display: block;
  justify-content: center;
  align-items: center;
}

/* Modal image actualize branch */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 900px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}